<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <th>Source</th>
                <input required type="text" #fromlocRef='ngModel' name="fromloc" [(ngModel)]="fromloc" ngModel
                    class="form-control">
                <th>Destination</th>
                <input required type="text" #fromlocRef='ngModel' name="toloc" [(ngModel)]="toloc" ngModel
                    class="form-control">
                <th>Date</th>
                <input required type="date" #dateRef='ngModel' name="date1" [(ngModel)]="date1" ngModel
                    class="form-control">
                <input type="submit" value="search" class="btn btn-success" (click)="fetch(fromloc,toloc,date1)">
            </div>
        </div>
    </div>
    <h2>Available flights</h2>
    <div class="col-xs-2">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>flightNumber</th>
                    <th>FlightName</th>
                    <th>FromLocation</th>
                    <th>ToLocation</th>
                    <th>NoofSeats</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of searchs">
                    <td>{{p}}</td>
                    <td>{{p.flightNumber}}</td>
                    <td>{{p.flightNumber}}</td>
                    <td>{{p.flightName}}</td>
                    <td>{{p.fromloc}}</td>
                    <td>{{p.toloc}}</td>
                    <td>{{p.seatCapacity}}</td>
                    <td>{{p.costPerSeat}}</td>
                    <td>{{p.date1}}</td>
                </tr>

            </tbody>
        </table>
    </div>
</body>
</html>