<div class="container">
  <div style="text-align: center">
    <h2>FLIGHT MANAGEMENT SYSTEM</h2>
  </div>
  
  <nav class="navbar navbar-dark bg-dark"> 
    <a class="navbar-brand" href="#"> 
  </a> 
    <ul class="nav nav-pills ">

    <li class="nav-item">
      <a class="nav-link" class="btn btn-outline-secondary btn-sm mr-3"  routerLink="searchflight">searchflight</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" class="btn btn-outline-secondary  btn-sm  mr-3" routerLink="registration">Registration</a>
    </li>
  
  </ul>
</nav>
</div>
<router-outlet></router-outlet>
<router-outlet></router-outlet>